In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [63]:
#read in data with pd.read_csv('filename/path')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [57]:
cleaned_train = train[['Pclass','Sex','Age','Cabin']].copy()
cleaned_train.head(2)

   Pclass     Sex   Age Cabin
0       3    male  22.0   NaN
1       1  female  38.0   C85

In [80]:
def test(gender):
    if gender=='male':
        return 1
    else:
        return 0

In [58]:
mean_age = train['Age'].mean()

In [59]:
new_age_col = cleaned_train['Age'].fillna(mean_age)
cleaned_train['Age']  = new_age_col

In [89]:
(cleaned_train['Sex']=='female').astype(int)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [90]:
cleaned_train['Sex']=cleaned_train['Sex'].replace(['male'],0)
cleaned_train['Sex']=cleaned_train['Sex'].replace(['female'],1)

In [91]:
cleaned_train

     Pclass  Sex        Age Cabin
0         3    0  22.000000   NaN
1         1    1  38.000000   C85
2         3    1  26.000000   NaN
3         1    1  35.000000  C123
4         3    0  35.000000   NaN
..      ...  ...        ...   ...
886       2    0  27.000000   NaN
887       1    1  19.000000   B42
888       3    1  29.699118   NaN
889       1    0  26.000000  C148
890       3    0  32.000000   NaN

[891 rows x 4 columns]

In [52]:
len(cleaned_train['Cabin'].value_counts())

147

29.69911764705882

In [39]:
# NaN =. Not A Number, null value
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
# grab a column with the format df['columnName']
averageFare = train["Fare"].mean()
averageFare

32.2042079685746