In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
#put in terminal
#pip install -U scikit-learn

In [7]:
#read in data with pd.read_csv('filename/path')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [12]:
# grab a column with the format df['columnName']
averageFare = train['Fare'].mean()
averageFare

32.2042079685746

In [19]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
cleaned_train = train[['Pclass', 'Sex', 'Age']].copy()
cleaned_train.head(2)

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0

In [48]:
mean_age = train['Age'].mean()
mean_age

29.69911764705882

In [49]:
new_age_col = cleaned_train['Age'].fillna(mean_age)
cleaned_train['Age'] = new_age_col

In [50]:
cleaned_train['Sex'] = cleaned_train['Sex'].replace(['male'], 0)
cleaned_train['Sex'] = cleaned_train['Sex'].replace(['female'], 1)
cleaned_train

     Pclass  Sex        Age
0         3    0  22.000000
1         1    1  38.000000
2         3    1  26.000000
3         1    1  35.000000
4         3    0  35.000000
..      ...  ...        ...
886       2    0  27.000000
887       1    1  19.000000
888       3    1  29.699118
889       1    0  26.000000
890       3    0  32.000000

[891 rows x 3 columns]

In [52]:
X_matrix = cleaned_train.vales
y = train['Survived']

AttributeError: 'DataFrame' object has no attribute 'vales'

In [54]:
mod = LogisticRegression()
mod.fit(X_matrix, y)

NameError: name 'LogisticRegression' is not defined

In [58]:
clean_test = test[('Pclass', 'Sex', 'Age')]
cleanclean_test ['Age'] = clean_test['Age'].fillna(mean_age)

TypeError: 'function' object is not subscriptable

In [0]:
clean_test['Sex'] = (clean_test['Sex'] == 'female').astype()int

In [57]:
clean_test

NameError: name 'clean_test' is not defined

In [59]:
mod.predict(x_test)

NameError: name 'mod' is not defined

In [60]:
pred = (mod.predict(x_test))

NameError: name 'mod' is not defined

In [61]:
test['Survived'] = pred

NameError: name 'pred' is not defined

In [62]:
test[['PassengerID', 'Survived']]

TypeError: 'function' object is not subscriptable

In [64]:
final_submission.resert_index(drop = True).to_csv('titanic_test.csv', index = False)

NameError: name 'final_submission' is not defined